body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*colocar a fonte do projeto na frente do system */

nav {
    width: 100%;
    height: auto; /* Altura automática */
    display: flex;
    justify-content:space-between; 
    gap: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /*Não fiz na mão, peguei do site: https://getcssscan.com/*/
    position: sticky;
    top: 0;
    background-color: white;
}

nav img {
    margin-left: 50px;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
    margin-right: 100px;
}

nav a {
      text-decoration: none;
      color: #000000;
}

nav a:hover {
    text-decoration: underline;
    color: #C1262E;
    
}

h2 {
    text-align: center;
}

input[type="range"]{
    pointer-events: none;
    touch-action: none; 
    width: 70%;
    height: 30px;
 
}

#transparencia{
    margin-left: 10px;
}

#graphic h3{
    text-align: center;
}

section{
    border: 2px solid #000;
    padding: 6px;
    width: 40%;
}

.feed{
    accent-color: #5d0000;
}   

.medcare{
    accent-color: #e74d00;
}

.program{
    accent-color: #039622;
}

.adm{
    accent-color: #4d4d4d;
}

.info-graphic{
    display: flex;
    justify-content: space-between;
    margin-right: 30%;
}

input[type="range"]::-moz-range-thumb{
    visibility: hidden;
}

input[type="range"]::-webkit-slider-thumb{
    visibility: hidden;
    
}

.donates{
    width: 17%;
    margin: 10px 0 0 18px;
    border-radius: 30px;
    text-align: center;
}

#donates{
    display: flex
}
