body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

/*colocar a fonte do projeto na frente do system */

nav {
    width: 100%;
    height: auto; /* Altura automática */
    display: flex;
    justify-content:space-between; 
    gap: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /*Não fiz na mão, peguei do site: https://getcssscan.com/*/
    position: fixed; /*Deixa a nav fixada*/
}

nav img {
    margin-left: 50px;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
    margin-right: 100px;
}

nav a {
      text-decoration: none;
      color: #000000;
}

nav a:hover {
    text-decoration: underline;
    color: #C1262E;
    
}